.page-container {
    min-height: 100vh;
    position: relative;
}

.content-wrap {
    padding-bottom: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header {
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 50px;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: start;
    width: 50vw;

}

.header-text h1 {
    font-size: 90px;
    margin-bottom: 0px;
}

.header-signup-btn {
    color: white;
    border-radius: 8px;
    padding: 15px 25px;
    background-color: #7161EF;
    border: 2px solid #7161EF;
}

.header-signup-btn:hover {
    background-color: #f5cf05;
    border: 2px solid #f5cf05;
}

.header-signup-btn:active {
    background-color: #FFE6BD;
    border: 2px solid #f5cf05;
}

.header-img {
    object-fit: contain;
    height: 48%;
    width: 48%;
    padding-left: 40px;
}

.footer {
    background-color: #8291E4;
    position: absolute;
    min-height: 10vh;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.footer div {
    padding: 0px 50px;
}

.footer a {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid;
}

.footer a:hover {
    color: #f5cf05;
    border-bottom: 2px solid;
}

.footer a:active {
    color: white;
    border-bottom: 1px solid;
}