.search-btn, .filter-btn {
    border-bottom: 2px solid #7161EF;
    margin-right: 30px;
    cursor: pointer;
}

.search-btn:hover, .filter-btn:hover {
    border-bottom: 3px solid #7161EF;
    font-weight: bold;

}

.searchbar, .filter {
    display: flex;
    align-items: center;
}

.searchbar-input {
    border-radius: 4px;
    padding: 4px;
    height: 15px;
    min-width: 70%;
    border: 1px solid rgb(187, 187, 187);
    background-color: rgb(250, 250, 250);
}
