.navbar {
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    padding: 5px 50px;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
}

.text-link {
    color: inherit;
    text-decoration: inherit;
}

.navbar-auth {
    display: flex;
    justify-content: space-between;
    width: 180px;
    align-items: center;
}

.navbar-signup {
    color: white;
    border-radius: 8px;
    padding: 8px 18px;
    background-color: #7161EF;
    border: 2px solid #7161EF;
}

.navbar-signup:hover {
    background-color: #f5cf05;
    border: 2px solid #f5cf05;
}

.navbar-signup:active {
    background-color: #FFE6BD;
    border: 2px solid #f5cf05;;
}

.navbar-login, .navbar-dashboard {
    color: black;
}

.navbar-login:hover, .navbar-logo:hover, .navbar-dashboard:hover {
    color: #f5cf05;
}





