.sidebar {
    background-color: #7161EF;
    padding: 50px 35px 50px 35px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    width: 150px;
}


.sidebar ul {
    padding: 0; 
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
}

.sidebar ul li {
    color: white;
}


.sidebar-link:hover, .logout-btn:hover {
    color: black
}

.logout-btn {
    bottom: 50px; 
    position: fixed;
    background-color: inherit;
    border: none;
    cursor: pointer;
    padding: 0px;
    color: white;
    font-size: 15px;
}