.random-activity-section {
    border: 1px solid;
    border-color: #ECE1F5;
    border-radius: 4px;
    min-height: 50vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.random-activity-section h2 {
   font-size: 40px;
}

.random-activity-result {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}